<div>
    <form [formGroup]="formGroup">
      <!-- Age Group and Age Range Selection -->
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Age Group</mat-label>
          <mat-select formControlName="ageGroup" (selectionChange)="onAgeGroupChange($event.value)">
            <mat-option *ngFor="let group of ageGroups" [value]="group">{{ group }}</mat-option>
          </mat-select>
        </mat-form-field>
  
        <mat-form-field appearance="fill">
          <mat-label>Age Range</mat-label>
          <mat-select formControlName="ageRange">
            <mat-option *ngFor="let range of ageRanges" [value]="range">{{ range }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
  
      <!-- Start Date, End Date, and Duration Calculation -->
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Start Date</mat-label>
          <input matInput [matDatepicker]="startPicker" formControlName="startDate" (dateChange)="onStartDateChange()">
          <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
          <mat-datepicker #startPicker></mat-datepicker>
        </mat-form-field>
  
        <mat-form-field appearance="fill">
          <mat-label>End Date</mat-label>
          <input matInput [matDatepicker]="endPicker" formControlName="endDate" (dateChange)="onEndDateChange()">
          <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
          <mat-datepicker #endPicker></mat-datepicker>
        </mat-form-field>
  
        <mat-form-field appearance="fill">
          <mat-label>Duration (days)</mat-label>
          <input matInput type="number" formControlName="duration" (input)="onDurationChange()">
        </mat-form-field>
      </div>
    </form>
  </div>
  